[general]
logdir=log
logconfig=config/logging.cfg
pidfile=burrow.pid
client-id=burrow-lagchecker
group-blacklist=^(console-consumer-|python-kafka-consumer-).*$
#group-whitelist=^(my-important-consumer).*$

[zookeeper]
{% for name in groups["zookeepers"] %}
hostname={{ name }}
{% endfor %}
port=2181
timeout=60
lock-path=/burrow/notifier

[kafka "local"]
{% for name in groups["kafka_cluster"] %}
broker={{ name }}
{% endfor %}
broker-port=9092
{% for name in groups["zookeepers"] %}
zookeeper={{ name }}
{% endfor %}
zookeeper-port=2181
zookeeper-path=/kafka-cluster
offsets-topic=__consumer_offsets

[tickers]
broker-offsets=60

[lagcheck]
intervals=10
expire-group=604800

[httpserver]
server=on
port=8000
; Alternatively, use listen (cannot be specified when port is)
; listen=host:port
; listen=host2:port2

[smtp]
server=smtp.gmail.com
port=587
auth-type=plain
username=mh.harsh@gmail.com
password=********
from=burrow-noreply@example.com
template=config/default-email.tmpl

[emailnotifier "mh.harsh@gmail.com"]
group=local,critical-consumer-group
group=local,other-consumer-group
interval=60
enable=true

[notify]
interval=10

#[httpnotifier]
#url=http://notification.server.example.com:9000/v1/alert
#interval=60
#extra=app=burrow
#extra=tier=STG
#template-post=config/default-http-post.tmpl
#template-delete=config/default-http-delete.tmpl
#timeout=5
#keepalive=30

#[slacknotifier]
#enable=true
#url=https://hooks.slack.com/services/xxxx/xxxxxxxxxx
#group=local,critical-consumer-group
#group=local,other-consumer-group
#threshold=0
#channel="#general"
#username=burrower
#interval=5
#timeout=5
#keepalive=30#